deepinv @ git+https://github.com/deepinv/deepinv.git@c34e4c19a476640d7d69d90c0b23c8dbd035983c
einops==0.8.1
h5py==3.13.0
hdf5storage==0.2.0
imageio==2.37.0
matplotlib==3.10.1
numpy==2.2.5
pillow
scikit-image==0.25.2
scipy==1.15.2
tifffile==2025.5.10
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
tqdm==4.67.1
wandb==0.19.10
jupyter
lpips
